*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
a  {
  color: white;
}
body {
  font-family: arial;
  color: #384047;
  background: #0ACD98;
}
.imgcontainer{
    width: 40%;
     background-image: url('https://lacerba.io/assets/illustrazione-login.png');
    height: 100vh;
    float: right;
    background-size: cover;
    margin: 0 auto;
    

}

.formcontainer {

  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  width: 60%;
  float: left;
}
h1 {
  margin: 0 0 30px 0;
  color: white;
  padding-right: 20px;
}
input[type="text"],
input[type="password"],
input[type="cognome"],
input[type="conferma_password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
input[type="text"],
input[type="password"],
input[type="cognome"],
input[type="conferma_password"],
input[type="email"]{
  border-radius: 15px;
  margin: 10px auto;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: purple;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
fieldset {
  margin-bottom: 30px;
  border: none;
  color: white;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 8px;
}
label.news {
  font-weight: 300;
  display: inline;
}
.number {
  color: #F47521;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bolder;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
}
#no_news {
  margin-bottom: 25px;
}
@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
  span{
  position: absolute;
  padding-top: 20px;
  padding-left:  120px;
}  
}
span{
  position: absolute;
  padding-top: 20px;
  padding-left:  420px;
}  

button{
  border-radius: 13px;
}
button.btn{
  text-align: center;
  display: inline-block;
  
}
.formcontainer{
  text-align: left;
  margin-left: 150px;
  
}
.cas{
  text-align: center;
}


.ricordami{
  text-align: left;
  
}
@media screen and (min-width: 767px){
  span{
      position: absolute;
  padding-top: 20px;
  padding-left:  420px
  }
}