/******************* general********************/

*{
	box-sizing: border-box;


}




html{
	font-size: 62.5%;
	background: white;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}


a{
	text-decoration: none;
	font-size: 1.4rem;
	color: #000;
}

.btn{
display: inline-block;
background: #F5A623;
padding: 12px 24px;
color: #fff;
text-transform: uppercase;
border: 0;
transition: background .3%;

}

.btn:hover{
	background: #f58e23;
}

header{
	background: #0ACE99;
	text-align: center;

}

.container{
	max-width: 900px;
	margin: 0 auto;
	padding:0 15px;
}

.clearfix::after{
content: "";
clear: both;
display: table;
}
.active{
	background: #0ACE99;
	border-radius: 3px;
}
img{
	width: 100%;
}
.title{
	font-size: 2.2rem;
}

main{
	min-height: calc(100vh - 138.5px - 104px);
	padding-top: 90px;
}

/*******************header********************/

header{
	background: black;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 1;
}

header .logo-container{
	padding: 10px;
}

header img{
	width: 80px
}

/******************* Nvigation********************/

nav {
	background: #0d9b75;
	padding: 10px;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li{
	display: inline-block;
}

nav li a{
	color:#fff;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
}
/*******************hero banner********************/
#hero{
background-image: url(../images/torta.jpg);
color: #fff;
padding-top: 40px;
background-size: cover;
background-size: center;
}

#hero .hero-caption{
	text-align: center;
	padding: 140px 20px; 
}


/*******************galery********************/

#gallery {
	
	padding-top: 35px;
	padding-bottom: 35px;

}
.gallery{
	display: flex;
	flex-wrap: wrap;
}

#gallery img{
	width: 100%;
}

#gallery .item{
	flex: 0 1 50%;
	padding: 15px;
	position: relative;
}



#gallery .caption{
	background: #f0f0f0;
	padding: 10px;
}

#gallery .caption p {
margin:0;
}

#gallery .picture{
	line-height: 0;
}

#gallery .caption img{
	width: 30px;
	position: absolute;
	top: 0;
	right: 0;
}

/**************about********************/

 #about{
 	padding: 40px 0;
 	background: orange;
 }

#about img {
	border-radius: 100%;
	padding: 15px 0;
}

/**************** contacts *****************/

#contact{
	padding: 40px 0;
	background: #ff9933;
}

#contact ul {
	list-style-type:none;
	padding: 0;
}
#contact li{
	padding: 10px 0;
}
#contact .material-icons{
	float: left;
}
#contact .contact a{
	margin: 3px 0 0 5px;
	display: inline-block;
}

/****************footer*****************/

footer.footer{
text-align: center;
padding: 15px;



}
footer.footer img {
	width: 24px;

}

footer .footer a{
	display: inline-block;
	padding: 5px 10px;
}

footer.footer p {
	font-size: 1.2rem;
}



@media only screen and (min-width: 768px) {
 /**************** gallery *****************/

 #gallery .item{
 	flex: 0 1 33.3333%;
 }

 


 /**************** about *****************/


	#about img{
		width: 70%;
	}

	#about .profile-pic{
		float: left;
		width: 50%;
		padding: 15px;
		text-align: center;
	}
	#about .description{
		float: right;
		width: 50%;
		padding: 30px 15px 15px ;
	}
	/**************** contacts *****************/

	#contact .info,#contacts .contacts{
		width: 50%;
	   padding: 15px;
	}

	#contact .info{
	   float: left;
	  
	}

	#contact .contacts{
	 float: right;

}

	





@media only screen and (min-width: 992px) {

    header{
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    }

    header .logo-container{
    	
    } 

	nav{

     background: black;
     
	}

	nav li a{ 
	transition: background .3s;
	}

	nav li a:hover, nav li a.active {
	background: #ff6600;
	border-radius: 3px;
  }
   #gallery .item{
    transition: opacity .3s;
  } 
  #gallery .item:hover{
  	opacity: .7;
  } 

}

	





 
 
@media only screen and (max-width:  767px) {

/**************** gallery *****************/

	#gallery .item:nth-child(2n + 1) {
	 clear: left;
  }

}