/******************* general********************/

*{
	box-sizing: border-box;


}




html{
	font-size: 62.5%;
	background: white;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

li{
font-size: 20px;
}

a{
	text-decoration: none;
	font-size: 1.4rem;
	color: #000;
}

header{
	background: #0ACE99;
	text-align: center;

}

.container{
	max-width: 900px;
	margin: 0 auto;
	padding:0 15px;
}

.clearfix::after{
content: "";
clear: both;
display: table;
}
.active{
	background: #0ACE99;
	border-radius: 3px;
}
img{
	width: 100%;
}
.title{
	font-size: 2.2rem;
}

main{
	min-height: calc(100vh - 138.5px - 104px);
	padding-top: 138.5px;
}

/*******************header********************/

header{
	background: #0ACE99;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;

}

header .logo-container{
	padding: 20px;
}

header img{
	width: 120px
}

/******************* Nvigation********************/

nav {
	background: #0d9b75;
	padding: 10px;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li{
	display: inline-block;
}

nav li a{
	color:#fff;
	display: inline-block;
	padding: 5px 10px;
	text-transform: uppercase;
	text-decoration: none;
}

/*******************galery********************/

#gallery {
	padding-top: 15px;
	padding-bottom: 15px;

}

#gallery img{
	width: 100%;
}

#gallery .item{
	float: left;
	width: 50%;
	padding: 15px;
	position: relative;
}



#gallery .caption{
	background: #f0f0f0;
	padding: 10px;
}

#gallery .caprion p {
margin:0;
}

#gallery .picture{
	line-height: 0;
}

#gallery .caption img{
	width: 30px;
	position: absolute;
	top: 0;
	right: 0;
}

/**************about********************/

#about img {
	border-radius: 100%;
	padding: 15px 0;
}

/**************** contacts *****************/

#contact ul {
	list-style-type:none;
	padding: 0;
}
#contact li{
	padding: 10px 0;
}
#contact .material-icons{
	float: left;
}
#contact .contact a{
	margin: 3px 0 0 5px;
	display: inline-block;
}

/****************footer*****************/

footer.footer{
text-align: center;
padding: 15px;



}
footer.footer img {
	width: 24px;

}

footer .footer a{
	display: inline-block;
	padding: 5px 10px;
}

footer.footer p {
	font-size: 1.2rem;
}



@media only screen and (min-width: 768px) {

}

/**************** gallery *****************/

#gallery .item{
	width: 33.3333%;
}

#gallery .item:nth-child(3n + 1) {
	clear: left;
}
/**************** about *****************/


#about img{
	width: 70%;
}

#about .profile-pic{
	float: left;
	width: 50%;
	padding: 15px;
	text-align: center;
}
#about .description{
	float: right;
	width: 50%;
	padding: 30px 15px 15px ;
}
/**************** contacts *****************/

#contact .info,#contacts .contacts{
	width: 50%;
   padding: 15px;
}

#contact .info{
   float: left;
  
}

#contact .contacts{
 float: right;

}

	





@media only screen and (min-width: 992px) {
	nav li a{ 
	transition: background .3s;
	}

	nav li a:hover {
	background: #0ACE99;
	border-radius: 3px;
  }
   #gallery .item{
    transition: opacity .3s;
  } 
  #gallery .item:hover{
  	opacity: .7;
  } 

}

	





 
 
@media only screen and (max-width:  767px) {

/**************** gallery *****************/

	#gallery .item:nth-child(2n + 1) {
	 clear: left;
  }

}